//color
$colors: (
  'primary': #db9e3f,
  'info': #4b67af,
  'danger': #791a15,
  'blue-1': #1f3695,
  'blue': #4394e4,
  'white': #fff,
  'white-1': #fcfcfc,
  'white-2': #eceef0,
  'light': #f9f9f9,
  'light-1': #d4d9de,
  'grey': #999,
  'grey-1': #666,
  'dark-1': #343440,
  'dark': #222,
  'black': #000,
  'bottom':#faf7f7
);

$border-color: map-get($colors, 'bottom');

$base-font-size: 1rem;

$font-sizes: (
    xs: 0.8,
    sm:1, //10px
    md:1.2,  //12px
    lg:1.4, //14px
    xl:1.6,  //16px
    xxl:2
);
//justify-content
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
);

//align-items
$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch
);

//spacing
//0-5 0
//.mt-1 =>margin-top:0.25rem .pb-1 => padding-top

$spacing-types: (
    m: margin,
    p: padding
);

$spacing-directions: (
    t: top,
    r: right,
    b: bottom,
    l: left
);

$spacing-base-size: 1rem;

$spacing-sizes: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3
);







