@import './variables';

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #999;
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

ul {
    list-style: none;
}

//text-clor bg-color
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color
    }

    .bg-#{$colorKey} {
        background-color: $color
    }
}

//text-align
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}

//font-sizes
@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

// text overflow
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

//m-0
@each $typeKey,
$type in $spacing-types {

    //.m-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }

    }

    //mx-1 my-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
    }

    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }

    // .mt-1
    @each $directionKey,
    $direction in $spacing-directions {

        @each $sizeKey,
        $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
}

// borders
@each $dir in (top, right, bottom, left) {
    .border-#{$dir} {
        border-#{$dir}: 1px solid $border-color;
    }
}

.btn {
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($font-sizes, 'sm') * $base-font-size;
    padding: 0.2rem 0.6rem;

    &.btn-lg {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: map-get($colors, 'primary');
            font-weight: bold;
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }

        background: map-get($colors, 'white-1');
        border: 1px solid map-get($colors, 'white-2');
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
}

.nav {
    display: flex;

    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;

        &.active {
            color: map-get($colors, 'primary');
            border-bottom-color: map-get($colors, 'primary');
        }
    }
    &.nav-inverse {
        .nav-item {
          color: map-get($colors, 'white');
          &.active {
            border-bottom-color: map-get($colors, 'white');
          }
        }
      }
}

// sprite  spritecow.com --上传图片看定位
.sprite {
    background: url(../images/index.png) no-repeat 0 0;
    background-size: 37.5rem;
    display: inline-block;
    &.sprite-news {
      width: 2.3rem;
      height: 2rem;
      background-position: 63.546% 15.517%;
    }
    &.sprite-arrow{
      width: 1rem;
      height: 1rem;
      background-position: 38.577% 52.076%;
    }
  }