<!--  -->
<template>
  <div>
    <h2>分类列表</h2>
    <el-table :data="items">
      <el-table-column prop="_id" label="ID" width="240"></el-table-column>
      <el-table-column prop="parent.name" label="上级分类"></el-table-column>
      <el-table-column prop="name" label="分类名称"></el-table-column>
      <el-table-column fixed="right" label="操作" width="180">
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            @click="$router.push(`/categories/edit/${scope.row._id}`)"
          >编辑</el-button>
          <el-button type="text" size="small" @click="remove(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items:[]
    };
  },

  // components: {},

  // computed: {},

  // mounted: {},
  created() {
    this.fetch();
  },

  methods: {
    async fetch(){
      const res = await this.$http.get('rest/categories');
      this.items = res.data;
    },
    async remove(row){
      this.$confirm(`是否要删除分类"${row.name}"?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then( async() => { //这里的接口使用了await 所以then这里也要使用async
          await this.$http.delete(`rest/categories/${row._id}`);
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
          this.fetch();
        })
    }
  }
}

</script>
<style lang='scss' scoped>
</style>