<!--  -->
<template>
  <div>
    <h1>{{id?'编辑':'新建'}}英雄</h1>
    <el-form label-width="120px" @submit.native.prevent="save">
      <!-- <el-form-item label="上级分类">
        <el-select v-model="model.parent">
          <el-option v-for="item in parents" :key="item._id"
          :label="item.name" :value="item._id"></el-option>
        </el-select>
      </el-form-item>-->
      <el-tabs value="basic" type="border-card">
        <el-tab-pane name="basic" label="基础信息">
          <el-form-item label="名称">
            <el-input v-model="model.name"></el-input>
          </el-form-item>

          <el-form-item label="称号">
            <el-input v-model="model.title"></el-input>
          </el-form-item>

          <el-form-item label="头像">
            <el-upload
              class="avatar-uploader"
              :action="uploadUrl"
              :show-file-list="false"
              :headers="getAuthHeaders()"
              :on-success="res => $set(model,'avatar',res.url)"
            >
              <img v-if="model.avatar" :src="model.avatar" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>

          <el-form-item label="banner">
            <el-upload
              class="avatar-uploader"
              :action="uploadUrl"
              :show-file-list="false"
              :headers="getAuthHeaders()"
              :on-success="res => $set(model,'banner',res.url)"
            >
              <img v-if="model.banner" :src="model.banner" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>

          <el-form-item label="类型">
            <el-select v-model="model.categories" multiple placeholder="请选择">
              <el-option
                v-for="item of categories"
                :key="item._id"
                :label="item.name"
                :value="item._id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="难度">
            <el-rate style="margin-top:.6rem" show-score :max="9" v-model="model.scores.difficult"></el-rate>
          </el-form-item>

          <el-form-item label="技能">
            <el-rate style="margin-top:.6rem" show-score :max="9" v-model="model.scores.skills"></el-rate>
          </el-form-item>

          <el-form-item label="攻击">
            <el-rate style="margin-top:.6rem" show-score :max="9" v-model="model.scores.attack"></el-rate>
          </el-form-item>

          <el-form-item label="生存">
            <el-rate style="margin-top:.6rem" show-score :max="9" v-model="model.scores.survive"></el-rate>
          </el-form-item>

          <el-form-item label="顺风出装">
            <el-select v-model="model.items1" multiple placeholder="请选择">
              <el-option v-for="item of items" :key="item._id" :label="item.name" :value="item._id"></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="逆风出装">
            <el-select v-model="model.items2" multiple placeholder="请选择">
              <el-option v-for="item of items" :key="item._id" :label="item.name" :value="item._id"></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="使用技巧">
            <el-input type="textarea" v-model="model.usageTips" placeholder=""></el-input>
          </el-form-item>

          <el-form-item label="对抗技巧">
            <el-input type="textarea" v-model="model.battleTips" placeholder=""></el-input>
          </el-form-item>

          <el-form-item label="团战思路">
            <el-input type="textarea" v-model="model.teamTips" placeholder=""></el-input>
          </el-form-item>

        </el-tab-pane>

        <el-tab-pane name="skills" label="技能">
          <el-button size="small" type="" @click="model.skills.push({})">
            <i class="el-icon-plus"></i>添加技能
          </el-button>
          <el-row type="flex" style="flex-wrap:wrap">
            <el-col :md="12" v-for="(item,i) in model.skills" :key='i'>
                <el-form-item label="名称">
                  <el-input v-model="item.name" placeholder=""></el-input>
                </el-form-item>
                <el-form-item label="图片">
                  <el-upload
                    class="avatar-uploader"
                    :action="$http.defaults.baseURL + '/upload'"
                    :show-file-list="false"
                    :headers="getAuthHeaders()"
                    :on-success="res => $set(item,'icon',res.url)"
                  >
                    <img v-if="item.icon" :src="item.icon" class="avatar" />
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>

                <el-form-item label="冷却值">
                  <el-input v-model="item.delay" placeholder=""></el-input>
                </el-form-item>

                <el-form-item label="消耗">
                  <el-input v-model="item.cost" placeholder=""></el-input>
                </el-form-item>

                <el-form-item label="描述">
                  <el-input v-model="item.description" type="textarea" placeholder=""></el-input>
                </el-form-item>

                <el-form-item label="小提示">
                  <el-input v-model="item.tips" type="textarea" placeholder=""></el-input>
                </el-form-item>

                <el-form-item >
                  <el-button type="danger" size="small" @click="model.skills.splice(i,1)">删除</el-button>
                </el-form-item>
                
            </el-col>

          </el-row>
        </el-tab-pane>

        <el-tab-pane name="partners" label="最佳搭档">
          <el-button size="small" type="" @click="model.partners.push({})">
            <i class="el-icon-plus"></i>添加英雄
          </el-button>
          <el-row type="flex" style="flex-wrap:wrap">
            <el-col :md="12" v-for="(item,i) in model.partners" :key="i">
              <el-form-item label="英雄">
                <el-select filterable  v-model="item.hero" placeholder="请选择">
                  <el-option
                      v-for="hero in heroes"
                      :key="hero._id"
                      :label="hero.name"
                      :value="hero._id"
                    ></el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="描述">
                <el-input v-model="item.description" rows="6" type="textarea"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button size="small" type="danger" @click="model.partners.splice(i, 1)">删除</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-tab-pane>

      </el-tabs>

      <el-form-item style="margin-top:1rem">
        <el-button type="primary" native-type="submit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  props: {
    id: {}
  },
  data() {
    return {
      categories: [],
      items: [],
      heroes: [],
      model: {
        name: "",
        avatar: "",
        scores: {
          difficult: 0
        },
        skills:[],
        partners:[]
      }
    };
  },

  // components: {},

  // computed: {},

  // mounted: {},
  created() {
    this.fetchCategories();
    this.fetchItems();
    this.fetchHeroes();
    this.id && this.fetch();
  },

  methods: {
    // afterUpload(res){
    //   // this.$set(this.model,'avatar',res.url);  //解决vue双向数据绑定的数据创建前的问题
    //   this.model.avatar = res.url;
    // },
    async save() {
      let res;
      if (this.id) {
        // 修改
        res = await this.$http.put(`rest/heroes/${this.id}`, this.model);
      } else {
        // 新增
        res = await this.$http.post("rest/heroes", this.model);
      }

      this.$router.push("/heroes/list");
      this.$message({
        type: "success",
        message: "保存成功！"
      });
    },
    async fetch() {
      const res = await this.$http.get(`rest/heroes/${this.id}`);
      // this.model = res.data;为了显示有带关联的表的值  
      this.model = Object.assign({},this.model,res.data);
    },
    async fetchCategories() {
      const res = await this.$http.get(`rest/categories`);
      this.categories = res.data;
    },
    async fetchItems() {
      const res = await this.$http.get(`rest/items`);
      this.items = res.data;
    },
    async fetchHeroes() {
      const res = await this.$http.get(`rest/heroes`);
      this.heroes = res.data;
    }
  }
};
</script>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
}
.avatar {
  width: 6rem;
  height: 6rem;
  display: block;
}
</style>